# Unity
Library/
Temp/
Obj/
Build/
Builds/
*.csproj
*.sln
*.unityproj
*.suo
*.user
*.userprefs
*.pidb
*.booproj
.DS_Store

# VSCode
.vscode/
*.code-workspace

# Rider
.idea/
.idea_modules/

# Visual Studio
.vs/
.vscode/

# Build artifacts
*.apk
*.aab
*.app
*.ipa
*.exe
*.dmg
*.pkg

# Test artifacts
**/test-results/

# Local overrides
*.local
ProjectSettings/boot.config
